just stuff

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../datasets/agoda_cancellation_train.csv")

In [39]:
data

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,...,0.0,0.0,1.0,0.0,0.0,NaN,5617,902.0,600.0,1273
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,3819,NaN,NaN,2799
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0.0,NaN,2379,466.0,236.0,1448
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,...,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,NaN,NaN,616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58654,9221958224902563533,2018-07-18 22:07:00,2018-08-04 00:00:00,2018-08-05 00:00:00,2975682,ID,2017-10-12 11:01:00,2.0,Guest House / Bed & Breakfast,Pay Now,...,0.0,1.0,0.0,0.0,0.0,2018-07-22,995,NaN,NaN,2066
58655,9222015611933681753,2018-09-05 12:07:00,2018-09-06 00:00:00,2018-09-08 00:00:00,3579174,PH,2017-11-30 00:42:00,4.0,Apartment,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,674,NaN,NaN,2310
58656,9222651806661094957,2018-06-08 23:23:00,2018-08-09 00:00:00,2018-08-11 00:00:00,407156,TH,2015-03-14 05:18:00,5.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,3823,754.0,55.0,2477
58657,9223221736086584899,2018-09-02 08:18:00,2018-09-10 00:00:00,2018-09-12 00:00:00,303186,DE,2012-04-13 17:48:00,0.0,Hostel,Pay Now,...,0.0,0.0,1.0,0.0,0.0,NaN,4663,NaN,NaN,1935
58658,9223338323510018406,2018-07-07 10:46:00,2018-07-12 00:00:00,2018-07-14 00:00:00,2227632,HK,2017-06-19 10:06:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,3023,477.0,638.0,142

In [6]:
data2 = data["cancellation_datetime"].between("2018-12-07", "2018-12-13")

In [16]:
data2 = data

In [34]:
k = pd.get_dummies(data2, columns=['accommadation_type_name', 'charge_option', 'original_payment_type'])

In [ ]:
data2["origin_country_code"] == data2["hotel_country_code"]

In [38]:
(k['original_payment_type_Invoice'] + 1).sum()

59445

In [49]:
data["cancellation_datetime", "booking_datetime"] = data["cancellation_datetime", "booking_datetime"]

KeyError: ('cancellation_datetime', 'booking_datetime')